:root {
    --fullBlack: #000000;
    --gunmetal: #414242;
    --graphite: #2A2A2A;
    --darkWine: #7A090E;
    --charcoal: #5C5959;
    --almondSilk: #CEB7B7;
    --tomatoJam: #D9242F;
}

@keyframes scroll {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}

.partners-bar{
    height: 4em;
    border: 1px solid var(--charcoal);
}

.carousel {
    display: flex;
    overflow: hidden;
}

.group, .reverse-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding-left: 1em;
}

.group {
    animation: spin 40s linear infinite;
}

.reverse-group {
    animation: reverse-spin 40s linear infinite;
}

.card {
    height: 65px;
    width: max-content;
    font-size: 3rem;
    text-align: center;
    align-content: center;   

    font-family: 'Orbitron';
    display: flex;
    align-items: center;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

@keyframes reverse-spin {
    from {translate: -100%;}
    to {translate: 0%;}
}

