:root {
    --PrussianBlue: #0A0D24;
    --SpaceIndigo: #141A38;
    --DigitalBlue: #3E6FF2;
    --BlueViolet: #7B2FE0;
    --LavanderGrey: #9C98BE;
}

.partners-bar {
    height: 4em;

    border: 1px solid var(--LavanderGrey);
    border-left: 0px;
    border-right: 0px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slider-track{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    font-size: 1;
    line-height: 0;
}

.slider-track::before,
.slider-track::after {
    position: absolute;
    top: 0;
    width: 20px;
    height: 100%;
    content: "";
    z-index: 2;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

