

:root {
    --fullBlack: #000000;
    --gunmetal: #414242;
    --graphite: #2A2A2A;
    --darkWine: #7A090E;
    --charcoal: #5C5959;
    --almondSilk: #CEB7B7;
    --tomatoJam: #D9242F;
}

* {
    margin: 0;
}

body {
    background-color: var(--fullBlack);
    color: var(--almondSilk);
}

.ligne {
    width: 100%;
    height: 1;
    border: 0.2px solid var(--gunmetal);

    margin: 0em 0 2em 0;
}

.main-presentation {
    background-image: url(/NoctiqEsport/images/output-onlinepngtools.png);
    background-size: cover;
    background-position: bottom; 

    height: 40em;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-presentation h1 {
    font-family: "Orbitron";
    font-size: 3em;
}

.main-presentation-logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
}

.main-presentation-logo-title span {
    color: var(--DigitalBlue);
}

.main-presentation-logo-title .purple {
    color: var(--BlueViolet);
}

.main-presentation-logo-title h1 {
    position: relative;
    top: -1.3em;
    left: -4em;
}

.main-presentation-buttons {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: end;
  align-items: end;
  padding-bottom: 5em;
  padding-right: 5em;
  gap: 4em;
}

.main-button-BecomeAFan {
    font-family: "Orbitron";
    font-size: 1.1em;
    font-weight: 600;
    color: var(--almondSilk);

    width: 170px;
    height: 50px;
    border: 0px;
    border-radius: 220px;

    background: #3E6FF2;
    background: linear-gradient(255deg, var(--gunmetal) 0%, rgba(20, 26, 56, 1) 0%, var(--darkWine) 100%);
}

.main-button-discord {
    font-family: "Orbitron";
    font-size: 1.1em;
    font-weight: 600;
    color: var(--almondSilk);

    width: 170px;
    height: 50px;
    border: black solid 1px;
    border-radius: 220px;
}

/*  *! UPCOMING MATCH */

.upcoming-match {
    width: 50%;

    font-family: 'Orbitron';
    color: var(--almondSilk);

    padding: 2em;

    background-color: var(--gunmetal);
    border: var(--darkWine) 4px solid;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 40px;
}

.main-upcoming-match {
    display: flex;
    justify-content: center;

    margin: 2em;
}

.upcoming-match-card {
    display: flex;
    flex-direction: column;
}

.upcoming-match-card {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 3em;
}

.upcoming-match-team {
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 2em;

    margin: 3em;
}

.upcoming-match-score {
    display: flex;
    gap: 2em;

    font-weight: 400;
    font-family: 'Orbitron';
}

.upcoming-match-button {
    display: flex;
    flex-direction: row;

    width: 100%;
    justify-content: space-between;
}

.upcoming-match .prono {
    height: 40px;
    width: 170px;

    border-radius: 20px;
    background-color: var(--tomatoJam);
    border: rgb(184, 77, 87);
    box-shadow: rgb(184, 77, 87, 0.3) 0px 0px 2px 10px;

    color: var(--almondSilk);
    font-family: 'Orbitron';
    font-weight: 600;
}

.upcoming-match .twitch {
    height: 40px;
    width: 170px;

    border-radius: 20px;
    background-color: rgb(123, 47, 224);
    border: rgb(157, 100, 232);
    box-shadow: rgb(157, 100, 232, 0.3) 0px 0px 2px 10px;

    color: white;
    font-family: 'Orbitron';
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.upcoming-match .prono:hover {
    background-color: var(--fullBlack);
}

/*  *! OURS TEAMS */

.main-our-teams {
    height: 800px;

    margin: 3em;
}

.main-our-teams h1 {
    color: var(--tomatoJam);
    font-size: 2em;
    font-family: 'Orbitron';

    overflow: scroll;
}

.our-teams {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-self: center;
    gap: 4em;

    margin: 2em;

    overflow: scroll;
}

.team {
    height: 500px;
    width: 200px;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: var(--charcoal);
    border: var(--tomatoJam) 2px solid;
}