:root {
    --PrussianBlue: #0A0D24;
    --SpaceIndigo: #141A38;
    --DigitalBlue: #3E6FF2;
    --BlueViolet: #7B2FE0;
    --LavanderGrey: #9C98BE;
}

* {
    margin: 0;
}

body {
    background-color: var(--PrussianBlue);
    color: var(--LavanderGrey);
}

.ligne {
    width: 100%;
    height: 1;
    border: 0.2px solid var(--LavanderGrey);

    margin: 0em 0 2em 0;
}

.main-presentation {
    background-image: url(/NoctiqEsport/images/output-onlinepngtools.png);
    background-size: cover;
    background-position: bottom; 

    height: 40em;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-presentation h1 {
    font-family: "Orbitron";
    font-size: 3em;
}

.main-presentation-logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
}

.main-presentation-logo-title span {
    color: var(--DigitalBlue);
}

.main-presentation-logo-title .purple {
    color: var(--BlueViolet);
}

.main-presentation-logo-title h1 {
    position: relative;
    top: -1.3em;
    left: -4em;
}

.main-presentation-buttons {
  height: 100%;

  display: flex;
  align-items: end;
  padding-bottom: 10em;
  gap: 4em;
}

.main-button-BecomeAFan {
    font-family: "Orbitron";
    font-size: 1.1em;
    font-weight: 600;
    color: white;

    width: 170px;
    height: 50px;
    border: 0px;
    border-radius: 220px;

    background: #3E6FF2;
    background: linear-gradient(90deg, rgba(62, 111, 242, 1) 0%, rgba(123, 47, 224, 1) 75%);
}

.main-button-discord {
    font-family: "Orbitron";
    font-size: 1.1em;
    font-weight: 600;
    color: white;

    width: 170px;
    height: 50px;
    border: black solid 1px;
    border-radius: 220px;
}

/*  *! UPCOMING MATCH */

.upcoming-match {
    color: var(--PrussianBlue);
    width: 40%;

    font-family: 'Orbitron';
    color: var(--LavanderGrey);

    padding: 2em;

    background-color: var(--SpaceIndigo);
    border: var(--LavanderGrey) 1px solid;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 40px;
}

.main-upcoming-match {
    display: flex;
    justify-content: center;

    margin: 2em;
}

.upcoming-match-card {
    display: flex;
    flex-direction: column;
}

.upcoming-match-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 3em;
}

.upcoming-match-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    margin: 2em;

    font-family: 'Orbitron';
}

.upcoming-match-score {
    display: flex;
    gap: 2em;

    font-weight: 400;
    font-family: 'Orbitron';
}

.upcoming-match .prono {
    position: relative;
    left: -220px;

    height: 40px;
    width: 170px;

    border-radius: 20px;
    background-color: rgb(184, 77, 87);
    border: rgb(184, 77, 87);
    box-shadow: rgb(204, 49, 64) 0px 0px 10px 10px;
}

.upcoming-match .prono:hover {
    background-color: black;
}